core/src/main/assets/geox/*.mmdb filter=lfs diff=lfs merge=lfs -text
core/src/main/assets/geox/*.metadb filter=lfs diff=lfs merge=lfs -text
core/src/main/assets/geox/*.dat filter=lfs diff=lfs merge=lfs -text
